$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

$base-pad: 3rem;
@function col($count, $margin: $base-pad) {
	$size: 100% / $count;
	@return calc(#{$size} - #{$margin});
}
@mixin listel($colmar) {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: -#{$colmar};
}
@mixin col($count, $colmar) {
	width: col($count, $colmar);
	margin-left: $colmar;
}

$font1: "Yanone Kaffeesatz", sans-serif;
$font2: "Circe";

$color: #0057ff;
$attantion: #ffcd00;
$warning: #ff181f;

$s1380: 1381px;
$s1300: 1301px; //1300
$s1200: 1201px; //1200
$s1152: 1153px; //1153
$s1024: 1025px; //1024
$s960: 961px; //960
$s853: 854px; //853
$s768: 769px; //853

$s500: 500px; //853

@mixin below($width) {
	@media screen and (max-width: $width - 1) {
		@content;
	}
}

@mixin above($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}

@mixin between($minWidth, $maxWidth) {
	@media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
		@content;
	}
}
