/*@media screen and (max-width: 1300px) {
	.b-title {
		
	}
	.slider-contacts {
		margin-top: 20px;
	}
}

@media screen and (max-width: 1210px) {
	.header__wrap {
		max-width: calc(100% - 250px);
	}
	.firsb__title {
		font-size: 200px;
	}
}
*/
