extend main.pug
block middle
	a.require-call.call-us(href="#") Заказать звонок
	include parts/menu
	include parts/right-nav
	.fullpage#fullpage
		include parts/block_1
		include parts/b-why
		include parts/scenarios
		include parts/smart-house
		include parts/devices
		include parts/company
		include parts/portfolio
		include parts/express-req
		include parts/contacts
