section.b-why#b-why(data-style="black")
	h2.b-why__title.container.b-title Почему выбирают “умный дом”
	.b-why__wrap
		.el-why(style="background-image: url('img/why/1.jpg')")
			.el-why__body
				.el-why__content
					.el-why__title Функции и сценарии 
					.el-why__desc Комфортное освещение. Создаем сценарии для вашего утра и вечера.
		.el-why(style="background-image: url('img/why/2.jpg')")
			.el-why__body
				.el-why__content
					.el-why__title Eco Friendly решения
					.el-why__desc Сэкономить электроэнергию и позаботиться о природе, сокращая электропотребление.
		.el-why(style="background-image: url('img/why/3.jpg')")
			.el-why__body
				.el-why__content
					.el-why__title Забота о здоровье
					.el-why__desc Теплый пол и установка температуры в зависимости от погоды защитит вас и вашу семью от простуды и поможет расслабиться после работы.
		.el-why(style="background-image: url('img/why/4.jpg')")
			.el-why__body
				.el-why__content
					.el-why__title Качественное оборудование
					.el-why__desc Официальный дилер. 10 лет на рынке. Только оригинальное оборудование.