section.firsb#first
	.firsb__wrap.container
		.firsb__block
			h2.firsb__title Умный дом для вашего комфорта
			.firsb__desc будущее уже наступило, умные дома стали доступны каждому, мы реализовали более 100 объектов, более 100 довольных клиентов живут в инновационных домах, теперь и у вас будет свой умный дом
			a.firsb__btn.c-btn(href="#") Кнопка