section.b-splited.b-black#company
	h2.b-splited__title.b-title Почему стоит выбрать нашу компанию

	.b-splited__wrap
		.b-splited__block
			.b-splited__content
				.company
					.el-company
						.el-company__img
							img(src="img/company/1.svg" alt="Работаем «под ключ»" width="90")
						.el-company__title Работаем «под ключ»
						.el-company__desc Сдаем объект сразу готовый к проживанию.
					.el-company
						.el-company__img
							img(src="img/company/2.svg" alt="Фиксируем стоимость" width="90")
						.el-company__title Фиксируем стоимость
						.el-company__desc Стоимость закрепляем в договоре и не изменяем на протяжении проекта.
					.el-company
						.el-company__img
							img(src="img/company/3.svg" alt="Работаем «под ключ»" width="90")
						.el-company__title Гарантия на работу 10 лет
						.el-company__desc Работаем качественно, поэтому не боимся давать такие гарантии.
					.el-company
						.el-company__img
							img(src="img/company/4.svg" alt="Лучшая цена" width="90")
						.el-company__title Лучшая цена
						.el-company__desc Снизим стоимость вашего проекта на 20% не экономя на качестве
		.b-splited__block
			.b-splited__slider.js-slider
				.item(style="background-image: url('img/company.jpg')")
				.item(style="background-image: url('https://picsum.photos/id/1/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/15/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/222/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/23/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/54/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/533/750/900')")
	.bottom-button-wrap.container
		a.c-btn(href="#") оставить заявку