section.b-splited.b-splited--contacts.b-black#contacts
	h2.b-splited__title.b-title Контакты
	.b-splited__wrap
		.b-splited__block
			.b-splited__content
				.contacts
					address.contacts__address Республика Беларусь г. Минск ул. Сурганова 88, оф. 6H
					a.contacts__phone(href="tel:+375291067676" target="_blank") +375 (29) 106 76 76
					a.contacts__mail(href="mailto:info@knx.by" target="_blank") info@knx.by
				.slider-contacts
					.item
						.el
							.el__image
								img(src="img/express-req.svg" alt="cottage")
							.el__title У меня коттедж
							.el__desc Хочу сделать его “умнее”
					.item
						.el
							.el__image
								img(src="img/express-req.svg" alt="cottage")
							.el__title У меня коттедж
							.el__desc Хочу сделать его “умнее”
					.item
						.el
							.el__image
								img(src="img/express-req.svg" alt="cottage")
							.el__title У меня коттедж
							.el__desc Хочу сделать его “умнее”
					.item
						.el
							.el__image
								img(src="img/express-req.svg" alt="cottage")
							.el__title У меня коттедж
							.el__desc Хочу сделать его “умнее”
				a.c-btn.contacts-call(href="#") оставить заявку
				a.contacts-imedia(href="https://www.imedia.by/" target="_blank")
					span Разработка
					picture
						source(srcset="img/imedia@2x.png 2x" type="image/png")
						img(src="img/imedia.png" alt="imedia" width="94")

		.b-splited__block
			#map