section.b-devices#devices(data-style="black")
	h2.b-devices__title.container.b-title Разнообразие дизайна устройств
	.b-devices__wrap
		.b-devices__block
			.b-devices__slider
				.item(style="background-image:url('img/devices/1.jpg')")
					img.item__name(src="img/devices/name-1.png" alt="Name device")
				.item(style="background-image:url('img/devices/2.jpg')")
					img.item__name(src="img/devices/name-2.png" alt="Name device")
			.b-devices__slider-arrows
		.b-devices__block
			.b-devices__slider
				.item(style="background-image:url('img/devices/2.jpg')")
					img.item__name(src="img/devices/name-2.png" alt="Name device")
				.item(style="background-image:url('img/devices/1.jpg')")
					img.item__name(src="img/devices/name-1.png" alt="Name device")
			.b-devices__slider-arrows
	.bottom-button-wrap.container
		a.c-btn(href="#") оставить заявку