section.section.express-req.b-black#experess
	h2.express-req__title.b-title Экспресс-заявка
	.express-req__wrap.container
		.express-req__left
			.b-tab.b-tab--express-req
				.b-tab__nav
					.b-tab__nav-item
						a.b-tab__link(href="#") квартира
					.b-tab__nav-item
						a.b-tab__link(href="#") Дом
					.b-tab__nav-item
						a.b-tab__link(href="#") Коттеджи
					.b-tab__nav-item
						a.b-tab__link(href="#") ресторан
					.b-tab__nav-item
						a.b-tab__link(href="#") гостиница
				.b-tab__body
					.b-tab__content
						.el-express
							.el-express__image
								img(src="img/express-req.svg" width="128" alt="express-request")
							.el-express__content
								ul.el-express__list
									li 
										strong Освещение 
									li Климат
									li 
										b Электроснабжение
									li Защита от аварий
									li Электроприводы и механизмы
									li Система мультирум
									li Устройства управления
					.b-tab__content
						.el-express
							.el-express__image
								img(src="img/express-req.svg" width="128" alt="express-request")
							.el-express__content
								ul.el-express__list
									li 
										strong Освещение 
									li Климат
									li 
										b Электроснабжение
									li Защита от аварий
									li Электроприводы и механизмы
									li  
										strong Система мультирум
									li Устройства управления
					.b-tab__content
						.el-express
							.el-express__image
								img(src="img/express-req.svg" width="128" alt="express-request")
							.el-express__content
								ul.el-express__list
									li Освещение 
									li 
										strong Климат
									li Электроснабжение
									li 
										strong Защита от аварий
									li Электроприводы и механизмы
									li 
										strong Система мультирум
									li Устройства управления
		.express-req__right
			form.req-form
				input.c-input.req-form__field(type="text" placeholder="Ваше имя")
				input.c-input.req-form__field(type="text" placeholder="Телефон")
				input.c-input.req-form__field.req-form__field--email(type="text" placeholder="E-mail")
				button.c-btn.req-form__send(type="submit") Отправить заявку
		