.side-menu
	.side-menu__toggle
	.side-menu__bg
	nav.side-menu__nav
		.s-menu
			ul.s-menu__wrap
				li.s-menu__item
					a.s-menu__link(href="#first") Почему выбирают “умный дом”
				li.s-menu__item
					a.s-menu__link(href="#scenarios") Сценарии
				li.s-menu__item
					a.s-menu__link(href="#controll") Управление системой
				li.s-menu__item
					a.s-menu__link(href="#devices") Дизайне устройств
				li.s-menu__item
					a.s-menu__link(href="#company") Наша компания
				li.s-menu__item
					a.s-menu__link(href="#portfolio") Наши работы
				li.s-menu__item
					a.s-menu__link(href="#express") Экспресс-заявка
				li.s-menu__item
					a.s-menu__link(href="#contacts") Контакты