section.b-portf#portfolio(data-style="black")
	h2.b-portf__title.container.b-title Наши работы
	.b-portf__wrap
		a.el-portf(href="#" style="background-image: url('img/portfolio/1.jpg')")
			.el-portf__body
				.el-portf__title Дом в Барановичах 
				.el-portf__size 280 кв. м
		a.el-portf(href="#" style="background-image: url('img/portfolio/2.jpg')")
			.el-portf__body
				.el-portf__title Коттедж в Логойске 
				.el-portf__size 220 кв. м
		a.el-portf(href="#" style="background-image: url('img/portfolio/3.jpg')")
			.el-portf__body
				.el-portf__title Квартира в Минске
				.el-portf__size 76 кв. м
		a.el-portf(href="#" style="background-image: url('img/portfolio/4.jpg')")
			.el-portf__body
				.el-portf__title Дом в Минске
				.el-portf__size 150 кв. м
				