ul.rnav
	li.rnav__item
		a.rnav__link(href="#b-why")
	li.rnav__item
		a.rnav__link(href="#scenarios")
	li.rnav__item
		a.rnav__link(href="#controll")
	li.rnav__item
		a.rnav__link(href="#devices")
	li.rnav__item
		a.rnav__link(href="#company")
	li.rnav__item
		a.rnav__link(href="#portfolio")
	li.rnav__item
		a.rnav__link(href="#express")
	li.rnav__item
		a.rnav__link(href="#contacts")
	