section.b-splited.tabs-slider.b-black#scenarios
	h2.b-splited__title.b-title Сценарии
	.b-splited__wrap
		.b-splited__block
			.b-splited__content
				.b-tab.b-tab--scenar
					.b-tab__nav
						.b-tab__nav-item
							a.b-tab__link(href="#") пришел
						.b-tab__nav-item.b-tab__nav-item--82
							a.b-tab__link(href="#") Ушел
						.b-tab__nav-item.b-tab__nav-item--82
							a.b-tab__link(href="#") Отпуск
						.b-tab__nav-item.b-tab__nav-item--82
							a.b-tab__link(href="#") Гости
						.b-tab__nav-item
							a.b-tab__link(href="#") Романтика
						.b-tab__nav-item
							a.b-tab__link(href="#") Кино
						.b-tab__nav-item.b-tab__nav-item--82
							a.b-tab__link(href="#") Вечеринка
					.b-tab__body
						.b-tab__content 
							p Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.
						.b-tab__content 
							p 2 Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.
						.b-tab__content 
							p 3 Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.
						.b-tab__content 
							p 4 Возвращение домой взрослого. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates a fugit veniam eum ad, vel nostrum beatae quidem, quod cupiditate impedit quia non illum quasi, explicabo quis amet quaerat consequatur?
						.b-tab__content 
							p 5 Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.
						.b-tab__content 
							p 6 Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.
						.b-tab__content 
							p 7 Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.Возвращение домой взрослого. Происходит включение света, сплит-системы, запускается музыка, сопровождаемая оповещением о пропущенных звонках, визитах посетителей и состоянии систем дома.
		.b-splited__block
			.b-splited__slider.js-slider
				.item(style="background-image: url('img/scenar.jpg')")
				.item(style="background-image: url('https://picsum.photos/id/1/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/15/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/222/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/23/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/54/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/533/750/900')")
	.bottom-button-wrap.container
		a.c-btn(href="#") оставить заявку