section.b-splited.tabs-slider.b-black#controll(data-style="white")
	h2.b-splited__title.container.b-title Управление системой Умный дом
	.b-splited__wrap
		.b-splited__block
			.b-splited__content
				.b-splited__title-copy.b-title Управление системой Умный дом
				.b-tab
					.b-tab__nav.b-tab__nav--smart
						.b-tab__nav-item
							a.b-tab__link(href="#") Сценарный выключатель
						.b-tab__nav-item
							a.b-tab__link(href="#") Компьютер
						.b-tab__nav-item
							a.b-tab__link(href="#") смартфон
						.b-tab__nav-item
							a.b-tab__link(href="#") планшет
						.b-tab__nav-item
							a.b-tab__link(href="#") настенная панель
						.b-tab__nav-item
							a.b-tab__link(href="#") Голосовой помощник
					.b-tab__body
						.b-tab__content 
							img(src="img/smart-scheme.svg")
						.b-tab__content 
							img(src="https://picsum.photos/id/22/152/200")
						.b-tab__content 
							img(src="https://picsum.photos/id/1/152/200")
						.b-tab__content 
							img(src="https://picsum.photos/id/15/152/200")
						.b-tab__content 
							img(src="https://picsum.photos/id/222/152/200")
						.b-tab__content 
							img(src="https://picsum.photos/id/23/152/200")
		.b-splited__block
			.b-splited__slider.js-slider
				.item(style="background-image: url('img/smart.jpg')")
				.item(style="background-image: url('https://picsum.photos/id/22/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/1/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/15/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/222/750/900')")
				.item(style="background-image: url('https://picsum.photos/id/23/750/900')")
	.bottom-button-wrap.container
		a.c-btn(href="#") оставить заявку